body {
  background: blue !important;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.topbar {
  background: #131921;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: relative;
  text-align: center;
}

.destacado {
  border: 2px solid #ff9900;
}

.badge {
  background: #ff9900;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: #ff9900;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background: #e68a00;
}

.comparativa {
  background: white;
  padding: 40px 20px;
  text-align: center;
}

table {
  width: 90%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background: #232f3e;
  color: white;
}

.cta-final {
  text-align: center;
  padding: 40px 20px;
}
